.header__logo {
    height: 52px;
    width: 176px;
    align-self: end;
    justify-self: start;
    object-fit: scale-down;
}





@media screen and (max-width: 767px) {
    .header__logo {
        height: 13.125vw;
        width: 44.375vw;
    }
} 