.lead__caption {
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
    .lead__caption {
        margin-left: 24px;
    }
} 

@media screen and (max-width: 767px) {
    .lead__caption {
        margin-left: 5vw;
    }
} 