.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px 48px 0 48px;
    padding-bottom: 24px;
    width: calc(100% - 96px);
    max-width: 1184px;
}

@media screen and (max-width: 1023px) {
    .footer {
        width: calc(100% - 48px);
    }
} 

@media screen and (max-width: 767px) {
    .footer {
        width: 58.125vw;
        flex-direction: column;
        margin: 64px 36.875vw 0 5vw;
    }
} 